* {
  font-family: sans-serif;
}

html, body {
  /*background: #FFFFFF;*/
  margin: 0 auto;
  font-size: 100%;
}

textarea {
  resize: none;
  border: none;
}

main {
  width: 98vw;
  margin: 1vw auto;
  background: #FFFFFF;
  text-align: center;
  display: block;
}

button {
  margin: 1vw;
}

.console {
  width: 50%;
  height: 10%;
  margin: 1vw auto;
  background: #DDDDDD;
  color: #333333;
}

.margined {
  margin: 1vw auto;
}

.box {
  width: 50vw;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #999999;
  font-size: 0.8rem;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #999999;
  font-size: 0.8rem;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #999999;
  font-size: 0.8rem;
}
:-moz-placeholder { /* Firefox 18- */
  color: #999999;
  font-size: 0.8rem;
}
