* {
  font-family: sans-serif;
}

html, body {
  background: #FFFFFF;
  margin: 0 auto;
  font-size: 100%;
}

textarea {
  resize: none;
  border: none;
}

main {
  width: 98vw;
  margin: 1vw auto;
  background: #EEEEEE;
  text-align: center;
  display: block;
}

button {
  margin: 1vw;
}
