
  <div class="sideBar">


    <h4 style = "color:#333333;">Users</h4>
      <div class = "" ng-repeat = "user in $ctrl.sharedService.getUsers()">

        <small>{{user}}</small>

      </div>

  </div>

<div class="container">

<div style = "display:block; margin:1vw auto;">
  <h3 style = "background:#FFFFFF; color:#444444; float:left;">{{$ctrl.userName}}</h3>

</div>

  <!-- <p style="color:#222222;">Your story goes here...</p> -->
  <small style = "float:left;">{{$ctrl.otherUserEdit}}</small>
  <!-- <h4>{{$ctrl.userName}}</h4> -->


  <div class="form-group">
    <textarea id = "storyText" ng-keyup="$ctrl.keyUp()" ng-model="$ctrl.inputText" name="name" autofocus></textarea>

    <!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
  </div>



  <div class="console">{{$ctrl.message}}</div>

  <button type="button" class = "btn btn-link" style = "float:left;" ng-click="$ctrl.signout()">Log out</button>

  <button type="button" class = "btn btn-info" style = "float:right;" name="button" ngclipboard data-clipboard-target="#storyText">Copy</button>



</div>
